<ion-popover-view style="max-height: 180px">
  <ion-content scroll="false">
    <div class="list positive">
      <a class="item" href="#" ng-controller="LikeCtrl" ng-click="promptRating()">
        喜欢我们
      </a>
      <a class="item" onclick="window.plugins.socialsharing.share('#极客爱情#想知道和程序员谈恋爱是一种什么样的体验吗？答案尽在《极客爱情》', null, null,
          'https://market.android.com/details?id=com.phodal.geekslove')">分享</a>
      <a class="item" href="#/copyright" ng-controller="PopoverCtrl" ng-click="popover.hide()">
        版权声明
      </a>
    </div>
  </ion-content>
</ion-popover-view>
